{% set mainViewName = fsc.getMainViewName() %}

<script type="text/javascript">
    function setMaxTagQuantity() {
        var printQtyInputs = document.getElementsByClassName("tag-quantity");
        for (i = 0; i < printQtyInputs.length; i++) {
            printQtyInputs.item(i).value = printQtyInputs.item(i).getAttribute("data-max-value");
        }
    }
    function setTagQuantity(quantity) {
        var printQtyInputs = document.getElementsByClassName("tag-quantity");
        for (i = 0; i < printQtyInputs.length; i++) {
            printQtyInputs.item(i).value = quantity;
        }
    }
</script>

<form action="PrintEtiquetas" method="post">
    <input type="hidden" name="model" value="{{ fsc.views[mainViewName].model.modelClassName() }}"/>
    <input type="hidden" name="code" value="{{ fsc.views[mainViewName].model.primaryColumnValue() }}"/>
    <div class="container-fluid">
        <div class="row align-items-end">
            <div class="col">
                <div class="form-group">
                    {{ i18n.trans('format') }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-file"></i>
                            </span>
                        </div>
                        <select name="format" class="form-control">
                            <option>APLI 10490</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ i18n.trans('initial-row') }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-th"></i>
                            </span>
                        </div>
                        <select name="initrow" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ i18n.trans('initial-column') }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-th"></i>
                            </span>
                        </div>
                        <select name="initcol" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="printbarcodes" value="1" checked="true" id="tagCodbarCheck">
                    <label for="tagCodbarCheck">{{ i18n.trans('barcode') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="printprices" value="1" checked="true" id="tagPricesCheck">
                    <label for="tagPricesCheck">{{ i18n.trans('price') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="printdesc" value="1" id="tagDescCheck">
                    <label for="tagDescCheck">{{ i18n.trans('description') }}</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-2 text-right">
                    <button type="submit" class="btn btn-primary">
                        {{ i18n.trans('print') }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="h4">
                    <i class="far fa-clone"></i> {{ i18n.trans('number-labels-per-product') }}
                </h3>
            </div>
            <div class="col">
                <div class="mb-3 text-right">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setTagQuantity('0');">
                        {{ i18n.trans('no-tag') }}
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setTagQuantity('1');">
                        {{ i18n.trans('one-per-product') }}
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setMaxTagQuantity();">
                        {{ i18n.trans('all-tags') }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            {% for key, tag in fsc.getAvaliableTags() %}
                <div class="col-sm-2">
                    <a href="{{ tag.url }}" target="_blank">{{ tag.reference }}</a>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-clone"></i>
                            </span>
                        </div>
                        <input type="number" name="quantity{{ key }}" value="{{ tag.quantity }}" data-max-value="{{ tag.quantity }}" class="form-control tag-quantity" />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</form>
